<div class="banner">
	<div class="step">
		<i><img src="css/images/icon_yd_on.png"></i>
		<p class="step_line step_two"></p>
		<i><img src="css/images/icon_yd_on.png"></i>
		<p class="step_line"></p>
		<b><img src="css/images/icon_yd.png"></b>
	</div>
	<div class="step_font">
		<ul>
			<li class="step_color">岗位需求</li>
			<li class="step_color">胜任力分析</li>
			<li>匹配完成</li>
		</ul>
	</div>
</div>
<div class="main">
	<div class="input"><b>{{position}}</b></div>
	<div class="step_left">
		<div class="title">胜任力分类</div>
		<div class="nav_tab">
			<!-- <b class="tab_a"><img src="css/images/icon_syyz.png">商业运作</b>
			<b class="tab_b"><img src="css/images/icon_yygl.png">运营管理</b>
			<b class="tab_c"><img src="css/images/icon_yyld.png">有效领导</b>
			<b class="tab_d"><img src="css/images/icon_rjjn.png">人际技能</b>
			<b class="tab_e"><img src="css/images/icon_grnx.png">个人能效</b> -->
			<b class="tab_class_{{k}}" ng-repeat="(k,v) in classes"><img ng-src="css/images/icon_class_1.png">个人能效</b>
		</div>
		<div class="tab_list">
			<ul ng-repeat="(k,v) in classes" >
				<li ng-repeat="competency in v.competencys" ng-click="check(competency);" title="{{competency.definition}}" ng-if="!competency.checked && competency.firstChecked">
					<img src="css/images/icon_add.png">{{competency.name}}
				</li>
			</ul>
		</div>
	</div> 
	<div class="step_right right">
		<div class="step_title">已选胜任力</div>
		<div class="prompt"><img src="css/images/icon_attention.png"><br>可以继续从胜任力分类选择，最多选出9项胜任力</div>
		<div class="step_list">
			<ul>
				<li ng-repeat="(k,competency) in checkedCompetencys" ng-click="check(competency);" title="{{competency.definition}}" ng-if="competency.checked && competency.firstChecked">
					{{competency.name}}<i><img src="css/images/icon_remove.png"></i>
				</li>
			</ul>
		</div>
	</div>
	<div class="button">
		<input class="back" type="button" value="上一步" ng-click="prev();"></input>
		<input type="button" value="下一步" ng-click="next();"></input>
	</div>
</div>