<div class="banner">
	<div class="step">
		<i><img src="css/images/icon_yd_on.png"></i>
		<p class="step_line step_two"></p>
		<i><img src="css/images/icon_yd_on.png"></i>
		<p class="step_line"></p>
		<b><img src="css/images/icon_yd.png"></b>
	</div>
	<div class="step_font">
		<ul>
			<li class="step_color">岗位需求</li>
			<li class="step_color">胜任力分析</li>
			<li>匹配完成</li>
		</ul>
	</div>
</div>
<div class="main">
	<div class="input"><b>{{position}}</b></div>
	<div class="step_left">
		<div class="title">胜任力分类</div>
		<div class="nav_tab">
			<b class="tab_class_{{class.id}}" ng-repeat="class in classes"><img ng-src="css/images/icon_class_{{class.id}}.png">{{class.name}}</b>
		</div>
		<div class="tab_list">
			<ul ng-repeat="class in classes" >
				<li ng-repeat="competency in class.competencys">
					<a href="javascript:" ng-click="check(competency);"><img src="css/images/icon_add.png"></a>
					<span title="{{competency.definition}}">{{competency.name}}</span>
				</li>
			</ul>
		</div>
	</div> 
	<div class="step_right right">
		<div class="step_title">已选胜任力</div>
		<div class="prompt"><img src="css/images/icon_attention.png"><br>可以继续从胜任力分类选择，最多选出9项胜任力</div>
		<div class="step_list">
			<ul>
				<li ng-repeat="competency in checkedCompetencys">
					<span title="{{competency.definition}}">{{competency.name}}</span>
					<i><a href="javascript:" ng-click="checkOut(competency);"><img src="css/images/icon_remove.png"></a></i>
				</li>
			</ul>
		</div>
	</div>
	<div class="button">
		<input class="back" type="button" value="上一步" ng-click="prev();"></input>
		<input type="button" value="下一步" ng-click="next();"></input>
	</div>
</div>