<div class="banner">
	<div class="step">
		<i><img src="css/images/icon_yd_on.png"></i>
		<p class="step_line step_two"></p>
		<i><img src="css/images/icon_yd_on.png"></i>
		<p class="step_line step_two"></p>
		<b><img src="css/images/icon_yd_on.png"></b>
	</div>
	<div class="step_font">
		<ul>
			<li class="step_color">识别职位关键贡献领域</li>
			<li class="step_color">胜任力分析</li>
			<li class="step_color">胜任力模型包装</li>
		</ul>
	</div>
</div>
<div class="main">
	<div class="input">
		<b>{{position}}</b>
	</div>
	<table class="step_three" cellspacing="0" cellpadding="0">
		<tr>
			<th class="td_150">胜任力</th>
			<th class="td_150">定义</th>
			<th class="td_150">行为描述</th>
			<th class="td_150">操作</th>
		</tr>
		<tr ng-repeat="competency in competencys" ng-if="competency.checked && competency.firstChecked">
			<td class="td_150">{{competency.name}}</td>
			<td>
				<span editable-textarea="competency.definition" e-name="definition" e-rows="7" e-cols="40" e-form="rowform">{{competency.definition}}</span>
			</td>
			<td>
				<span editable-textarea="competency.description" e-name="description" e-rows="7" e-cols="30" e-form="rowform">{{competency.description}}</span>
			</td>
			<td>
				<form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline">
		        	<button type="button" ng-disabled="rowform.$waiting"  ng-click="rowform.$save()" class="btn btn-primary">
		            	保存
		          	</button>
		          	<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
		            	取消
		          	</button>
		        </form>
		        <button type="button" ng-show="!rowform.$visible" ng-click="rowform.$show()" class="btn btn-primary">修改</button>
		        <button type="button" ng-show="!rowform.$visible" ng-click="delete(competency.id);" class="btn btn-danger mar_l10">删除</button>
			</td>
		</tr>
	</table>
	<div class="button">
		<input class="back" type="button" value="上一步" ng-click="prev();" /> <input
			type="button" value="导&nbsp;出" ng-click="export();" />
	</div>
	<div class="new_position"><a href="javascript:" ng-click="newPosition();">创建一个新职位</a></div>
</div>